{% load widget_tweaks %}

<div class="my-4">
    <h4>Your Report (New)</h4>
{% if report_new_list %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Password Rule</th>
                <th scope="col">status</th>
                <th scope="col">point</th>
                <th scope="col">created at</th>
            </tr>
        </thead>
        <tbody>
            {% for report in report_new_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ report.title }}</td>
                    <td>{{ report.password_rule }}</td>
                    <td>{{ report.status }}</td>
                    <td>{{ report.point }}</td>
                    <td>{{ report.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<div class="alert alert-dark" role="alert">
   No Data for Report (New)
</div>
{% endif %}
</div>

<div class="my-4">
    <h4>Your Report (Update)</h4>
{% if report_update_list %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Password Rule</th>
                <th scope="col">status</th>
                <th scope="col">point</th>
                <th scope="col">created at</th>
            </tr>
        </thead>
        <tbody>
            {% for report in report_update_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ report.title }}</td>
                    <td>{{ report.password_rule }}</td>
                    <td>{{ report.status }}</td>
                    <td>{{ report.point }}</td>
                    <td>{{ report.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<div class="alert alert-dark" role="alert">
    No Data for Report (Update)
</div>
{% endif %}
</div>