html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.active {
    font-weight: 630;
}

.container {
    max-width: 960px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.icon {
    width: 16px;
    height: 16px;
}

.site-name {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.my-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.my-jumbotron {
    background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: transparent !important;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('/static/img/loading_16.gif') right center no-repeat;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}

.ui-front {
    z-index: 1040 !important;  
}