{% extends "passhint/layout.html" %}
{% load i18n %}
{% load passhint_extras %}
{% block title %}{{keyword}} | Search | passhint{% endblock title %}
{% block passhint_content %}
{% if sites %} 
    {% for site in sites %}
        <div class="card mb-4">
            <div class="card-body p-3">
                <a href="{% url "passhint:site_detail" site.name %}">
                    <h4 class="card-title">{{ site.name }}</h4>
                </a>
                {{ site.get_rule_set_list.get_true_rule_list|get_html_rule }}
            </div>
        </div>
    {% endfor %} 
{% else %}
<div class="jumbotron text-center" style="background-color:#f8f9fa">
    <h1 class="display-4">{% trans "No Result Found" %}</h1>
    <hr class="my-4">
    <h5>{% trans "If you do not have the site you want, please report the site." %}</h5>
    <h5>{% trans "You can be the only reporter. And can get points!!" %}</h5>
    <a class="btn btn-secondary btn-lg mt-4" href="{% url "report:report_site" %}" role="button">{% trans "Report Site" %}</a>
</div>
{% endif %}
{% endblock passhint_content %}