{% extends "passhint/layout.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}Report new site | passhint{% endblock title %}
{% block passhint_content %}
<div class="row">
    <div class="col-lg-8">
        
        <div class="mb-5">
            <h2>{% trans "Report new site and get points" %}</h2>
        </div>

        <div>
            <form method="post" novalidate>
                <div class="p-4 border rounded">
                    {% csrf_token %}
            
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
            
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
            
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
            
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}
            
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="text-right mt-2">
                        <button type="submit" class="btn btn-secondary">{% trans "Submit" %}</button>
                    </div>
                </div>
        
            </form>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="p-4 border rounded">
            You can get point and ......... some guide
        </div>
    </div>
</div>
{% endblock passhint_content %}