<footer class="pt-4 my-5 pt-md-5 border-top text-muted text-center text-small">
    <p class="text-right">
        <a href="#">Back to top</a>
    </p>
    <p class="mb-1">
        <a href="mailto:kim.sardine@gmail.com" target="_top">kim.sardine@gmail.com</a>
         | &copy; passhint
    </p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#">About</a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/kim-sardine/passhint" target="_blank">Github</a>
        </li>
    </ul>
</footer>