<footer class="pt-4 my-5 pt-md-5 border-top text-muted text-center text-small">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p class="mb-1">kim.sardine@gmail.com | &copy; passhint</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#">About</a>
        </li>
        <li class="list-inline-item">
            <a href="#">Github</a>
        </li>
        <li class="list-inline-item">
            <a href="#">blah</a>
        </li>
    </ul>
</footer>