<footer class="pt-4 my-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <span class="d-block mb-3 text-muted">kim.sardine@gmail.com</span>
            <span class="d-block mb-3 text-muted">&copy; passhint</span>
        </div>
        <div class="col-6 col-md">
            <a class="text-muted" href="#">
                <h5>Features</h5>
            </a>
        </div>
        <div class="col-6 col-md">
            <a class="text-muted" href="#">
                <h5>Resources</h5>
            </a>
        </div>
        <div class="col-6 col-md">
            <a class="text-muted" href="#">
                <h5>About</h5>
            </a>
        </div>
    </div>
</footer>